{
  "tabWidth": 2,
  "printWidth": 160,
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "semi": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
